.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.user {
    color: white;
    float: right;
    padding: 15px;
}

table,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;

}

table {
    width: 70%;
}